{% extends "Pages/maintemplate.html" %} {% load static %} 
{% block title %}
<title>Login</title>
{% endblock %}
{% block header %}
<div style="margin: 5em";></div>
{% endblock%}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>{{ message }}</h1>
<form action=""  method="POST"> {% csrf_token %}

    {{ login_form.as_p }}

    <button type="submit">login</button>

</form>
<div style="margin: 5em";></div>
</body>
{% endblock%}
</html>