{% extends "Pages/maintemplate.html" %} {% load static %} 
{% block title %}
<title>Logout</title>
{% endblock %}
{% block header %}
<div style="margin: 5em";></div>
{% endblock%}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
</head>
<body>
    <div style="text-align: center; text-decoration-color:  #212529;"><h1>You have signed off</h1></div>
    <div style="margin: 5em";></div>
</body>
<div style="margin: 25em";></div>
{% endblock%}