{% extends "Pages/maintemplate.html" %} {% load static %} {% block title %}
<title>Profile</title>
{% endblock %} {% block header %}
<div style="margin: 5em" ;></div>
{% endblock%} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
  </head>
  <body>
    <h1>This is the profile page for {{ user.username }}</h1>

    <p>{{ user.first_name }} {{ user.last_name }}</p>
    <p>{{ user.email }}</p>

    <p>Description: {{ profile.description }}</p>
    <p>Link: {{ profile.link }}</p>
    <p>Image: {{ profile.image }}</p>

    <a href="{% url 'editprofile' profile.id %}">Edit Profile</a>
    <a href="{% url 'logout' %}">Sign out</a>

    <div style="margin: 5em" ;></div>
  </body>
  {% endblock%}
</html>