{% extends "Pages/maintemplate.html" %} {% load static %} 
{% block title %}
<title>Sign up</title>
{% endblock %}
{% block header %}
<div style="margin: 3em";></div>
{% endblock%}
{% block content %}
<div style="text-align: center; text-decoration-color:  #212529;"><h1>Sign up</h1></div>
<div style="margin: 1em";></div>
    <form action=""  method="POST"> {% csrf_token %}

    {{ form.as_p }}
    
        <button type="submit"class="btn btn-primary">Sign up</button>
    
    </form>
    <div style="margin: 5em";></div>
{% endblock%}
</html>