{% extends "Pages/maintemplate.html" %} {% load static %} 
{% block title %}
<title>Sign up</title>
{% endblock %}
{% block header %}
<div style="margin: 5em";></div>
{% endblock%}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>
<body>
    <form action=""  method="POST"> {% csrf_token %}

    {{ form.as_p }}
    
        <button type="submit">Sign up</button>
    
    </form>
    <div style="margin: 5em";></div>
</body>
{% endblock%}
</html>