{% extends "Pages/maintemplate.html" %} {% load static %} 
{% block title %}
<title>Messages</title>
{% endblock %}
{% block header %}
<div style="margin: 2em";></div>
{% endblock%}
{% block content %}
<style>
  .center {
      border: 5px solid #fdfdfd;
      display: flex;
      justify-content: center;
      }
  body {
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      background-color: #fdfdfd;
      text-align: center;
      }

  .head_text {
      color: white;

  }

  .card {
      box-shadow: 0 16px 48px #E3E7EB;
  }

  .avatar-img {
    width: 200px;
    height: 200px;
  }
  #HASH {
  display: flex;
  justify-content: space-between;
  width: 180%;
  
}
</style> 
<p style="text-decoration-color: #212529"><h1>Messages</h1></p>
<div class="container">
  <div class="row">
        <div class="card mb-4">
          <div class="card-body">
            {% for message in messages %}
            {% for us in other_users %}
              {% if us.pk == message.receiver.pk or us.pk == message.sender.pk  %}
                <div id="HASH" class="flex flex-col flex-nowrap overflow-y-scroll overflow-x-hidden ml-4 my-1 mx-auto text-start space-x-1 truncate">
                  <span id="time-HASH" class=" text-black text-lg text-left font-semibold font-sans">To:
                  {{ us }}</span>
                  <span class="text-black text-lg text-left font-semibold font-sans"><small class=" justify-self-end text-gray-600 mr-4 mt-3 text-base  ">
                    <time datetime="2020-01-01">
                        Date: {{ message.date|date:"m/d/Y" }}
                    </time></span>
                </small>
                </div>
              </p>
                  <p class="text-center font-medium text-slate-500 truncate">
                  {{ message.message }}
                  </p>
              </div>
          </div>
          {% endif %}
          {% endfor %}
          {% endfor %}
          </div>
        </div>
  </div>
</div>
<a href="{% url 'inbox' user.username %}" class="btn btn-primary">Inbox</a>
<div style="margin: 14em";></div>
{% endblock %}