{% extends "Pages/maintemplate.html" %} {% load static %} 
{% block title %}
<title>Posts</title>
{% endblock %}
{% block header %}
<div style="margin: 5em";></div>
{% endblock%}
{% block content %}
        {% for page in object_list %}
        <div class="post block">
            {{ profile.get_image }}
            <li>{{ page.author }}
            {{ page.title }}
            {{ page.date }}</li>
        {% endfor %}
        <div style="margin: 5em";></div>
         </div>
{% endblock %}
</html>