{% extends "Pages/maintemplate.html" %} {% load static %} 
{% block title %}
<title>Page</title>
{% endblock %}
{% block header %}
<div style="margin: 5em";></div>
{% endblock%}
{% block content %}
{% for p in page %}

<div class="container">
    <div class="row">
      <div class="col-md-8 card mb-4  mt-3 left  top">
        <div class="card-body">
          <p class="center"> <img src="{{ p.image.url }}" alt=""></p>
          <p class=" text-muted">{{ p.author }} | {{ p.date }}</p>
          <p class="card-text ">{{ p.content }}</p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock %}